<% include ../partials/header %>


<div class="col-md-12">
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">
                <div class ="float-right">
                    <h2><%= user.firstName + " " + user.lastName %></h2>
                    <h6><i class="fas fa-envelope"></i><a href ="mailto:<%= user.email %>"> <%= user.email %></a></h6>
                    <h6><%= user.username %>'s campgrounds:</h6>
                    <ul>
                        <% campgrounds.forEach(function(campground) { %>
                            <li><a href ="/campgrounds/<%= campground.id %>"><%= campground.name %></a></li>
                        <% }); %>
                        <% if(currentUser && currentUser._id != user.id){ %>
                            <a href="/follow/<%= user.id %>"><button class="btn btn-primary">Follow <%= user.username %></button></a>
                        <% } %>
                    </ul>
                </div>
            </h5>
            <p class="card-text"></p>
            <p class="card-text"><small class="text-muted"></small></p>
        
            <div class="col-md-4 mt-2">
                <img class="card-img-top" src="<%= user.avatar %>" alt="Profile image">
            </div>
        </div>
    </div>
</div>


<% include ../partials/footer %>